body{
    background-color: rgb(134, 153, 161);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.phone{
    width: 250px;
    height: 450px;
    border: 2px solid #fff;
    margin: 40px auto;
}
img{
    width: 100%;
    display: none;
    height: 90%;
    position: relative;
}
img:first-child{
    display: block;
}
.phone >div{
    height: 10%;
    background-color: #fff;
}
ul{
    background-color: #fff;
    height: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
ul li{
    text-align: center;
    margin: 5px;
}
a{
    text-decoration: none;
}
.show{
    display: block;
}

.active{
    display: block;
}
 a:hover{
    color: gray;
 }